/* Importar tema de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}